PORT=

# Whatsapp
BASE_WP_URL= # Base URL de la API
API_VERSION= # version de la api en Meta
BUSINESS_PHONE= # Phone_number_ID
API_TOKEN= # Identificador de acceso - Esta vence cada 3 hs en modo prueba
WEBHOOK_VERIFY_TOKEN= # Contraseña inventada

# Gmail
GOOGLE_SERVICE_ACCOUNT_EMAIL= # Email de servicio
GOOGLE_PRIVATE_KEY= # Provate key, reemplazo manualmente los \n por enter
GOOGLE_SHEETS_ID= # Id de l aplanilla Sheets

# Open AI
CHAT_GPT_API_KEY= #Api Key de OpenAi
CHAT_GPT_PROMPT= #Prompt a usar